
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p style="font-size:22px;font-weight: bold;">
                   Salon fryzjerski
                </p>
            </div>
            <div class="modal-body">
                <p style="font-size:17px;">
                    @ViewBag.InfoMessage
                </p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("OK", "Index", "Reservation", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">$(document).ready(function ()
    {
       // debugger
        $('#myModal').modal({ backdrop: 'static' });

        $('#klozet').on('click', function (event) {
            event.preventDefault();
           // $('#myModal').modal('close');
        });
    });</script>
